<%= render "navbarfilters" %>
<a href="/pages">My profile</a>
<div class="container">
  <div class="cards">
    <% @friends.each do |friend| %>
    <%= link_to friend_path(friend), class: "text-decoration-none" do%>
      <div class="card-product">
        <% if friend.photo.attached? %>
          <%= cl_image_tag friend.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
           <img src="https://ca.slack-edge.com/T02NE0241-U05FR7JJYA3-6b713784cedc-512" />
        <% end %>
        <div class="card-product-infos">
          <h2><%= friend.name %></h2>
          <p>Catégorie : <%= friend.category %></p>
          <p>Prix : <%= friend.price %> € </p>
          <p>Adresse : <%= friend.postal_address %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
