
<div class="container-show-friend">
  <div class="row row-show-friend">
      <h2 class="pt-3 text-center"><%= @friend.name %></h2>
    <div class="col-1"></div>
    <div class="col-5 pt-3 pb-5">
      <% if @friend.photo.attached? %>
        <%= cl_image_tag @friend.photo.key, height: 300, width: 300, gravity: :face, crop: :fill, class: "rounded-circle friend-img" %>
      <% else %>
        <img src="https://ca.slack-edge.com/T02NE0241-U05FR7JJYA3-6b713784cedc-512" />
      <% end %>
    </div>
    <div class="col-5 pt-5">
        <p>Category : <%= @friend.category %></p>
        <p>Price : <%= @friend.price %> €</p>
        <p>Address : <%= @friend.postal_address %></p>
        <p>Description : <%= @friend.description %></p>
    </div>

    <div class="col-1"></div>
      <% if user_signed_in? %>
      <div data-controller="toggle">
        <button data-action="click->toggle#fire" class="btn-book btn-book-me btn-outline-primary mt-5"> Book me!</button>
          <div data-toggle-target="togglableElement" class="d-none col-12">
            <div data-controller= "dynamic-price" data-dynamic-price-price-value="<%= @friend.price %>">
              <%= render "form" %>
              <h3>Total price: <span data-dynamic-price-target="priceHolder"><%= @friend.price %></span> €</h3>
            </div>
          </div>
      </div>
      <% else %>
        <%= link_to new_user_session_path, class: "text-decoration-none" do%>
          <button class="btn-book btn-book-me btn-outline-primary mt-5">Book me!</button>
        <% end %>
      <% end %>
  </div>
</div>
