<h1 class="header">My booking</h1>

<div class="container show-booking mt-4 pt-3 pb-5 ps-4">
  <div class="row">
    <div class="col-3 mt-1 card-show-booking-sum">
      <div class="card-show-booking-sum-up"><h4>Your information</h4></div>
      <div>
        <p>Your booking starts on the <%= @booking.start_date.strftime('%d/%m/%Y') %></p>
      </div>
      <div>
        <p>And finishes on the <%= @booking.end_date.strftime('%d/%m/%Y') %></p>
      </div>
      <div><p>Total Price : for the meagre amount of : <%= @friend.price %> x Number of days (démerde toi pour compter)</p></div>
    </div>

    <div class="col-9">
      <div class="container">
        <div class="row card-show-booking">
          <div class="color"><h4>The friend you chose</h4></div>
          <div class="col-6 card-show-booking-photo pb-4">
            <% if @friend.photo.attached? %>
              <%= cl_image_tag @friend.photo.key, height: 300, width: 300, gravity: :face, crop: :fill, class: "rounded-circle img-show" %>
            <% else %>
              <img src="https://ca.slack-edge.com/T02NE0241-U05FR7JJYA3-6b713784cedc-512" />
            <% end %>
          </div>
          <div class="col-6 card-show-booking-infos">
            <div>
              <p class="name-color"><%= @friend.name %></p>
              <p><%= @friend.category %></p>
              <p><%= @friend.postal_address %></p>
              <p><%= @friend.description %></p>
            </div>
          </div>
        </div>
          <div class="col-6 btn-home-custom">
          <a  href="/">
            <button class="btn-home">Go back home</button>
            </a>
          </div>
      </div>
      </div>
    </div>


  </div>
</div>
