<div class="container">
  <h1>My profile</h1>
    <div class="row pt-3">
      <div class="col-3">
        <div class="nav-tabs pb-3">
          <a href="/users/edit"><i class="fa-solid fa-gear fa-spin" style="color: #7e7e7e;"></i>   User settings</a>
        </div>
        <div class="nav-tabs">
          <a href="#"><i class="fa-solid fa-spinner fa-spin" style="color: #7e7e7e;"></i>   Pending requests</a></li>
          <ul>
            <% if @friend_booking.empty? %>
              <p>No pending requests</p>
            <% else %>
              <% @friend_booking.each do |booking|  %>
                <li>
                  Le booking a lieu de <%= booking.start_date  %> à <%= booking.end_date  %> et concerne <%= booking.friend.name  %>
                  <div>
                  <%= link_to 'Accept', accept_path(booking), data: { turbo_method: :patch }, class: "btn btn-outline-success" %>
                  <%= link_to 'Refuse', refuse_path(booking), data: { turbo_method: :patch }, class: "btn btn-outline-danger" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="nav-tabs">
          <a href="#"><i class="fa-solid fa-clock-rotate-left fa-bounce" style="color: #7e7e7e;"></i>   Waiting for confirmation</a>
          <ul>
            <% if @my_bookings.empty? %>
              <p>No activity</p>
            <% else %>
              <% @my_bookings.each do |booking|  %>
                <li>
                  Le booking a lieu de <%= booking.start_date  %> à <%= booking.end_date  %> et concerne <%= booking.friend.name  %>
                </li>
              <% end %>
          <% end %>
          </ul>
        </div>

        <div class="nav-tabs">
          <a href="#"><i class="fa-solid fa-clock-rotate-left fa-bounce" style="color: #7e7e7e;"></i>   Friends Rented</a>
          <ul>
            <% if @accepts.empty? %>
              <p>No activity</p>
            <% else %>
              <% @accepts.each do |booking|  %>
                <li>
                  Le booking a lieu de <%= booking.start_date  %> à <%= booking.end_date  %> et concerne <%= booking.friend.name  %>
                </li>
              <% end %>
          <% end %>
          </ul>
        </div>

      </div>


      <div class="col-9 ps-4 pb-4">
        <div class="user">
          <div class="user-img">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src="https://ca.slack-edge.com/T02NE0241-U05FR7JJYA3-6b713784cedc-512" />
          <% end %>
          </div>
          <div class="user-infos">
            <p>Nom : <%= @user.name %></p>
            <p>Username : <%= @user.user_name %></p>
            <p>Adresse : <%= @user.postal_address %></p>
            <p>Email : <%= @user.email %></p>
          </div>
        </div>
      </div>
      
    </div>
</div>
